/* https://type-scale.com/?size=20&scale=1.250&text=A%20Visual%20Type%20Scale&font=Lato&fontweight=400&bodyfont=Poppins&bodyfontweight=400&lineheight=1.65&backgroundcolor=white&fontcolor=%23333&preview=false */

:root {
  --primary-color: #1e90ff;
  --secondary-color: #00e6bb;
  --tertiary-color: #f9f871;
  --accent-color: #90f489;
}

body {
  background: linear-gradient(var(--tertiary-color), var(--secondary-color));
  background-attachment: fixed;
  box-sizing: border-box;
  font-size: 20px;
  height: 100vh;
}

h1,
h2,
h3 {
  color: var(--primary-color);
  text-align: center;
  text-shadow: var(--secondary-color) 1px 0 10px;
}

h1 {
  font-size: 1.953em;
  padding: 1rem;
}

h2 {
  margin: 1.5em 0 0 0;
}

h3 {
  font-weight: 400;
  margin: 0.25em 0 0.25em 0;
}

.screen-reader-text {
  left: -9999px;
  position: absolute;
  top: -9999px;
}

.flex-col-align--center {
  align-items: center;
  display: flex;
  flex-direction: column;
}
