label {
  color: var(--secondary-color);
  font-weight: 600;
}

input {
  border-radius: 3px;
  margin: 0.5rem;
  padding: 3px;
}

.regField:last-of-type {
  margin-bottom: 1rem;
}

#login {
  padding-bottom: 2em;
}
